#social-test {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
}

.social {
  padding-left: 0px;
}

.social li {
  display: inline-block;
}

.social li a {
  color: #fff;
  border-radius: 6px;
  list-style-type: none;
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  padding: 1%;
  border: 1px solid #fff;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 20px;
  transition: ease .3s;
}

.social:hover>li {
  opacity: 0.5;
}

.social:hover>li:hover {
  opacity: 1;
}